.svg-advantages-block-blockchain-dims { width: 80px; height: 81px; }
	.svg-advantages-block-crosschain-bridge-dims { width: 80px; height: 81px; }
	.svg-advantages-block-fees-dims { width: 80px; height: 81px; }
	.svg-advantages-block-poa-dims { width: 80px; height: 81px; }
	.svg-advantages-block-transaction-dims { width: 80px; height: 81px; }
	.svg-advantages-smart_security-dims { width: 250px; height: 250px; }
	.svg-ecosystem-bridge-dims { width: 177px; height: 306px; }
	.svg-ecosystem-develop-dims { width: 268px; height: 288px; }
	.svg-ecosystem-explorer-dims { width: 172px; height: 306px; }
	.svg-ecosystem-mobile-app-dims { width: 131px; height: 306px; }
	.svg-ecosystem-stable-tokens-dims { width: 230px; height: 306px; }
	.svg-ecosystem-tokenisation-dims { width: 197px; height: 258px; }
	.svg-icon-dc-dims { width: 24px; height: 24px; }
	.svg-icon-fox-dims { width: 54px; height: 50px; }
	.svg-icon-fundamentality-dims { width: 51px; height: 72px; }
	.svg-icon-investment-attractiveness-dims { width: 66px; height: 90px; }
	.svg-icon-low-fees-dims { width: 34px; height: 85px; }
	.svg-icon-scalability-dims { width: 47px; height: 87px; }
	.svg-icon-tg-dims { width: 24px; height: 24px; }
	.svg-icon-transaction-speed-dims { width: 31px; height: 73px; }
	.svg-icon-tw-dims { width: 24px; height: 24px; }
	.svg-icon-yt-dims { width: 24px; height: 24px; }
	.svg-product-atm-dims { width: 250px; height: 250px; }
	.svg-product-buy-sell-dims { width: 250px; height: 250px; }
	.svg-product-create-roken-dims { width: 250px; height: 250px; }
	.svg-product-crypto-banking-dims { width: 250px; height: 250px; }
	.svg-product-dbx-smart-dims { width: 250px; height: 250px; }
	.svg-product-investment-dims { width: 250px; height: 251px; }
	.svg-product-market-dims { width: 250px; height: 250px; }
	.svg-product-payment-dims { width: 250px; height: 250px; }
	.svg-product-security-dims { width: 250px; height: 250px; }
	.svg-product-stablecoin-dims { width: 250px; height: 250px; }
	.svg-product-swap-dims { width: 250px; height: 250px; }
	.svg-product-swaport-dims { width: 250px; height: 251px; }
	.svg-product-venture-dims { width: 250px; height: 250px; }