.svg-ecosystem-bridge-dims { width: 177px; height: 306px; }
.svg-ecosystem-develop-dims { width: 268px; height: 288px; }
.svg-ecosystem-explorer-dims { width: 172px; height: 306px; }
.svg-ecosystem-mobile-app-dims { width: 131px; height: 306px; }
.svg-ecosystem-stable-tokens-dims { width: 230px; height: 306px; }
.svg-ecosystem-tokenisation-dims { width: 197px; height: 258px; }