.svg-ecosystem-bridge-dims { width: 177px; height: 306px; }
.svg-ecosystem-develop-dims { width: 268px; height: 288px; }
.svg-ecosystem-explorer-dims { width: 172px; height: 306px; }
.svg-ecosystem-mobile-app-dims { width: 131px; height: 306px; }
.svg-ecosystem-stable-tokens-dims { width: 230px; height: 306px; }
.svg-ecosystem-tokenisation-dims { width: 197px; height: 258px; }
.svg-icon-fox-dims { width: 54px; height: 50px; }
.svg-icon-fundamentality-dims { width: 51px; height: 72px; }
.svg-icon-investment-attractiveness-dims { width: 66px; height: 90px; }
.svg-icon-low-fees-dims { width: 34px; height: 85px; }
.svg-icon-scalability-dims { width: 47px; height: 87px; }
.svg-icon-transaction-speed-dims { width: 31px; height: 73px; }
