$accent: #7A18D5;
$accent-dark: #3B2E56;
$accent-light: #C1A9E0;
$red: #E84142;
$grey: #D0D2D3;
$yellow: #FFAD28;
$black: #262626;
$pink: #FA44FE;
$green: #4BBC24;
$bubblegum: #E31673;
$grey-dbx: #CCCECF;
$duration: 30s;