.capital {
    &__wrap {
        display: flex;
    }
    &__list {
        width: 60%;
        background-color: darkkhaki;
        height: 500px;
    }
    &__link {
        & span {
            pointer-events: none;
        }
    }
    &__item #graphLink1 {
        background-color: #FFAD28;
    }
    &__graph {
        padding: 10px;
        position: relative;
        & path {
            transform-box: fill-box;
            transition: all .2s;
        }
        svg path:nth-child(1).graphLink-show,
        svg path:nth-child(1):hover {
            transform: translate(2px, -8px);
        }
        svg path:nth-child(2).graphLink-show,
        svg path:nth-child(2):hover {
            transform: translate(7px, -8px);
        }
        svg path:nth-child(3).graphLink-show,
        svg path:nth-child(3):hover {
            transform: translate(6px, -2px);
        }
        svg path:nth-child(4).graphLink-show,
        svg path:nth-child(4):hover {
            transform: translate(8px, 2px);
        }
        svg path:nth-child(5).graphLink-show,
        svg path:nth-child(5):hover {
            transform: translate(4px, 8px);
        }
        svg path:nth-child(6).graphLink-show,
        svg path:nth-child(6):hover {
            transform: translate(-4px, 9px);
        }
        svg path:nth-child(7).graphLink-show,
        svg path:nth-child(7):hover {
            transform: translate(-10px, 9px);
        }
        svg path:nth-child(8).graphLink-show,
        svg path:nth-child(8):hover {
            transform: translate(-10px, 0px);
        }
        svg path:nth-child(9).graphLink-show,
        svg path:nth-child(9):hover {
            transform: translate(-7px, -5px);
        }
        svg path:nth-child(10).graphLink-show,
        svg path:nth-child(10):hover {
            transform: translate(-7px, -10px);
        }
        svg path:nth-child(11).graphLink-show,
        svg path:nth-child(11):hover {
            transform: translate(-2px, -9px);
        }
        & .graph__value {
            position: absolute;
            color: #fff;
            @include adaptiv-font(30, 20);
            font-weight: 600;
            pointer-events: none;
        }
        & .graph__value1 {
            top: 77px;
            left: 366px;
        }
        & .graph__value2 {
            top: 126px;
            left: 453px;
        }
        & .graph__value3 {
            top: 250px;
            left: 520px;
        }
        & .graph__value4 {
            top: 368px;
            left: 523px;
        }
        & .graph__value5 {
            top: 502px;
            left: 407px;
        }
        & .graph__value6 {
            top: 524px;
            left: 208px;
        }
        & .graph__value7 {
            top: 466px;
            left: 130px;
        }
        & .graph__value8 {
            top: 316px;
            left: 75px;
        }
        & .graph__value9 {
            top: 184px;
            left: 108px;
        }
        & .graph__value10 {
            top: 115px;
            left: 167px;
        }
        & .graph__value11 {
            top: 76px;
            left: 256px;
        }
    }
}