.form-footer {
    &__input-wrap {
        display: flex;
        flex-direction: column;
    }
    &__label {
        font-size: 20px;
        font-weight: 500;
    }
    &__block-wrap {
        width: 33%;
    }
    &__input {
        padding: 15px 20px;
        background-color: $accent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: none;
        color: #fff;
        outline: solid transparent 1px;
        &:focus-visible {
            border: none;
            border-color: #fff;
            outline: solid #fff 1px;
        }
    }
}