.header {
    padding: 60px 0;
    position: relative;
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo-link {
        margin-right: 30px;
        min-width: 86px;
    }
    &__block {
        display: flex;
        margin-left: 20px;
        @include lg {
            display: none;
        }
    }
    
    @include md {
        padding: 30px 25px 25px;
    }
    &__block-contact {
        margin-right: 20px;
    }
}