.page-title {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 130px;
    @include adaptiv-font(62, 28);
    & span {
        color: $accent;
    }
}