.partners {
    padding-bottom: 430px;
    position: relative;
    @include md {
        padding-bottom: 150px;
    }
    &__title {
        margin: 0;
        margin-bottom: 40px;
    }
    &__list {
        @include list-reset;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 150px;
        @include md {
            top: 75px;
        }
        animation: scroll 20s linear infinite;
        @include md {
            animation: scroll-mobile 20s linear infinite;
        }
        &:hover {
            animation-play-state: paused;
        }
    }
    &__item {
        margin-left: 90px;
        @include md {
            margin-left: 30px;
        }
    }
    &__item {
        display: block;
        min-width: fit-content;
    }
    &__link {
        display: block;
        min-width: fit-content;
        width: 40%;
    }
    & .slick-track {
        display: flex;
        align-items: center;
        min-width: 0;
    }
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2542px);
    }
}
@keyframes scroll-mobile {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1383px);
    }
}