.roadmap {
    min-height: 100vh;
    padding: 50px 0;
    &__wrap {
        display: flex;
        cursor: url("../../img/scroll1.svg"), pointer;
        @include lg {
            flex-direction: column;
        }
    }
    &__item {
        width: 80vw;
        border: 1px solid $accent;
        @include lg {
            width: 100%;
        }
    }
    &__item + &__item {
        margin-left: 46px;
        @include lg {
            margin: 40px 0 0 0;
        }
    }
    &__title-wrap {
        display: flex;
        align-items: center;
        min-height: 82px;
    }
    &__title {
        color: #ffffff;
        font-size: 95px;
        margin: 0;
        margin-right: 40px;
        font-weight: 700;
        @include lg {
            font-size: 40px;
            padding: 0.5em 0;
        }
    }
    &__title-wrap {
        padding: 0 50px;
        background-color: $accent;
    }
    &__title-gradient-wrap {
        width: 100%;
        height: 123px;
        position: relative;
        @include lg {
            height: auto;
            padding: 0.5em 0;
        }
    }
    &__title-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(122,24,213,1) 100%);
    }
    &__title-year {
        width: 100%;
        height: 100%;
        &--2021 {
            background: url("../../img/2021.png") repeat-x center left;
        }
        &--2022 {
            background: url("../../img/2022.png") repeat-x center left;
        }
        &--2023 {
            background: url("../../img/2023.png") repeat-x center left;
        }
        @include lg {
            background: none;
        }
    }
    &__content-wrap {
        display: flex;
    }
    &__list {
        @include list-reset;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @include lg {
            padding: 20px;
        }
    }
    &__list-item {
        padding-left: 45px;
        position: relative;
        margin: 15px 0;
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 26px;
            top: 4px;
            left: 0;
            background: url("../../img/list-marker.svg") no-repeat center center;
            @include lg {
                width: 14px;
                height: 18px;
                background-size: contain;
            }
        }
        &--soon .roadmap__list-text {
            color: #CAA3EE;
        }
        &--soon::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 26px;
            top: 4px;
            left: 0;
            background: url("../../img/list-marker-soon.svg") no-repeat center center;
        }
        &--soon span {
            color: #CAA3EE;
        }
        @include lg {
            width: 100%;
            padding-left: 25px;
        }
    }
    &__list-item {
        @include lg {
            margin: 15px 0 0 0;
        }
    }
    &__list-item:first-child {
        @include lg {
            margin: 0;
        }
    }
    &__list-text {
        margin: 0;
        @include adaptiv-font(25, 16);
    }
}