@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../font/Montserrat-Regular.woff") format("woff"), url("../font/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../font/Montserrat-Medium.woff") format("woff"), url("../font/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../font/Montserrat-SemiBold.woff") format("woff"), url("../font/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../font/Montserrat-Bold.woff") format("woff"), url("../font/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font: 1em monospace, monospace;
}

a {
  background: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font: 1em monospace, monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font: 100%/1.15 inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font: 500 22px/1.3 "Montserrat", Arial, Helvetica, sans-serif;
  color: #2A2A2A;
  overflow-x: hidden;
}

.button-reset {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
}

.svg-ecosystem-bridge-dims {
  width: 177px;
  height: 306px;
}

.svg-ecosystem-develop-dims {
  width: 268px;
  height: 288px;
}

.svg-ecosystem-explorer-dims {
  width: 172px;
  height: 306px;
}

.svg-ecosystem-mobile-app-dims {
  width: 131px;
  height: 306px;
}

.svg-ecosystem-stable-tokens-dims {
  width: 230px;
  height: 306px;
}

.svg-ecosystem-tokenisation-dims {
  width: 197px;
  height: 258px;
}

.accent-text {
  color: #7A18D5;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 493px));
  grid-template-rows: repeat(2, minmax(300px, 1fr));
  row-gap: 20px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.blocks__item-wrap {
  padding: 0 50px 40px;
  color: #ffffff;
}

.blocks__item-wrap--red {
  background: #E84142;
}

.blocks__item-wrap--grey {
  background: #D0D2D3;
  color: #262626;
}

.blocks__item-wrap--yellow {
  background: #FFAD28;
  color: #262626;
}

.blocks__item-wrap--black {
  background: #262626;
}

.blocks__item-wrap--pink {
  background: #E06AE9;
}

.blocks__item-wrap--accent {
  background: #7A18D5;
}

.blocks__item {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: inherit;
}

.blocks__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.blocks__image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  padding: 30px 0;
}

.blocks__title {
  margin: 0;
  font-size: calc(30px + 10 * ((100vw - 428px) / 1122));
  font-weight: 600;
}

.business .blocks {
  grid-template-columns: repeat(3, minmax(200px, 493px));
  grid-template-rows: repeat(1, minmax(200px, 493px));
}

.ecosystem--SBX-smart .blocks {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 500px);
}

.ecosystem--SBX-smart .blocks__image-wrap {
  margin: 0 auto;
  padding: 20px 0;
}

.business {
  padding-top: 170px;
  padding-bottom: 230px;
}

.button-accent {
  background: #7A18D5;
  border: 3px solid #7A18D5;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 0.5em 2.4em;
  display: inline-block;
}

.button-accent:hover {
  background: #ffffff;
  color: #7A18D5;
}

.button-accent--header {
  padding: 0.38em 2em;
}

.choices {
  width: 93px;
}

.choices__list {
  padding: 0;
  border: 3px solid #7A18D5;
}

.choices__list--single {
  border: transparent;
}

.choices__inner,
.is-open .choices__inner,
.is-focused .choices__inner {
  border-radius: 0;
  border: 3px solid #7A18D5;
}

.choices__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.choices__item {
  color: #7A18D5;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.choices::after {
  display: none;
}

.choices__list--dropdown .choices__item {
  background: #7A18D5;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

.choices__item.is-highlighted {
  background: #ffffff;
  color: #7A18D5;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 57px;
  font-size: 22px;
  font-weight: 600;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[area-expanded] {
  border-color: #7A18D5 !important;
  border-top: none;
}

.comparing {
  padding: 200px 0;
}

.comparing__title {
  max-width: 70%;
  margin-bottom: 80px;
}

.ecosystem {
  background: #FAFAFA;
  padding-top: 170px;
  padding-bottom: 230px;
}

.footer,
.footer a {
  background: #262626;
  color: #ffffff;
  font-size: calc(15px + 5 * ((100vw - 428px) / 1122));
  line-height: 1.2;
  font-weight: 500;
  text-decoration: none;
  margin: 0;
}

.footer {
  padding: 60px 0 30px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer__block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 41.5%;
}

.footer__block-info address {
  font-style: normal;
  margin-top: 21px;
  margin-bottom: 28px;
}

.footer__policy {
  width: 21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__info-contact {
  width: 37.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer p,
.footer a {
  margin-top: 0;
  margin-bottom: 10px;
}

.footer__social-links {
  margin-top: 20px;
}

.header {
  padding: 60px 0;
  position: relative;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo-link {
  margin-right: 30px;
  min-width: 86px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__block-contact {
  margin-right: 20px;
}

.nav-header-burger {
  display: none;
}

.nav-header-burger.active span {
  opacity: 0;
}

.nav-header-burger.active::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 14px;
}

.nav-header-burger.active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 14px;
}

.nav-header {
  max-width: 620px;
  width: 100%;
}

.nav-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header__list li + li {
  margin-left: auto;
}

.nav-header__list li a {
  color: #7A18D5;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  font-size: calc(20px + 5 * ((100vw - 428px) / 1122));
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  white-space: nowrap;
}

.nav-header__list li a:hover {
  color: #C1A9E0;
}

.nav-header__list li a:hover + .nav-header__submenu-list {
  visibility: visible;
  opacity: 1;
}

.nav-header__list li {
  position: relative;
}

.nav-header__submenu-list {
  background: #7A18D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px;
  min-width: 220px;
  top: 45px;
  opacity: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  -o-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
}

.nav-header__submenu-list li + li {
  margin-left: 0;
  margin-top: 20px;
}

.nav-header__submenu-list li {
  position: relative;
}

.nav-header__submenu-list li::after {
  background: #ffffff;
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 50%;
  bottom: -10px;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.nav-header__submenu-list li:hover::after {
  width: 100%;
  left: 0;
}

.nav-header__submenu-list li:hover a {
  color: #ffffff;
}

.nav-header__submenu-list li a {
  color: #ffffff;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}

.nav-header__submenu-list:hover .has-submenu {
  color: #C1A9E0;
}

.nav-header__submenu-list:hover {
  visibility: visible;
  opacity: 1;
}

.page-title {
  font: 600 calc(28px + 34 * ((100vw - 428px) / 1122))/1.1 "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  margin-bottom: 130px;
}

.page-title span {
  color: #7A18D5;
}

.promo {
  height: 100vh;
}

.promo__container {
  height: 100%;
}

.promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.promo__content {
  margin-top: 10%;
  margin-right: 8%;
  width: 56%;
}

.promo__title {
  color: #000;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: calc(28px + 36 * ((100vw - 428px) / 1122));
}

.promo__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: calc(18px + 2 * ((100vw - 428px) / 1122));
  font-weight: 400;
  color: rgba(38, 38, 38, 0.7);
  margin-bottom: 60px;
}

.promo__subtitle span {
  font-weight: 500;
}

.promo__button {
  font-size: 22px;
}

.promo__image-wrap {
  margin-right: 5%;
}

.social-links {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links__item + .social-links__item {
  margin-left: 15px;
}

.social-links__item {
  width: 40px;
  height: 40px;
}

.social-links .social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 0;
}

.social-links .social-links__link picture {
  line-height: 0;
}

@supports (-webkit-appearance:none) {

}

@media (min-width: 1550px) {
  .blocks__title {
    font-size: 40px;
  }

  .footer,
  .footer a {
    font-size: 20px;
  }

  .nav-header__list li a {
    font-size: 25px;
  }

  .page-title {
    font-size: 62px;
  }

  .promo__title {
    font-size: 64px;
  }

  .promo__subtitle {
    font-size: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 992px) {
  .blocks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 460px);
  }

  .business .blocks__item-wrap {
    padding: 0 20px 30px;
  }

  .ecosystem--SBX-smart .blocks__item-wrap {
    padding: 0 20px 30px;
  }

  .business {
    padding-top: 90px;
  }

  .ecosystem {
    padding-top: 90px;
    padding-bottom: 150px;
  }

  .header__block {
    display: none;
  }

  .nav-header__list li + li {
    margin-left: 50px;
  }

  .nav-header__submenu-list li + li {
    margin-left: 0;
    margin-top: 15px;
  }

  .nav-header__list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .page-title {
    margin-bottom: 80px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .blocks__item-wrap {
    padding: 0 30px 40px;
  }

  .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .business .blocks {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, minmax(348px, 1fr));
  }

  .business .blocks__item-wrap {
    height: 348px;
  }

  .business .blocks__image-wrap {
    display: block;
    height: 275px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .business .blocks__image-wrap img {
    max-height: 250px;
  }

  .business {
    padding-top: 40px;
  }

  .ecosystem {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding-bottom: 52px;
    margin-bottom: 35px;
  }

  .footer__info-contact {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    margin-bottom: 35px;
  }

  .footer__policy {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    margin-bottom: 35px;
  }

  .footer__block-info {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 100%;
  }

  .footer__social-links {
    position: absolute;
    bottom: 0;
    margin-top: 0;
  }

  .footer a {
    margin-bottom: 7px;
  }

  .footer__block-info address {
    margin: 20px 0;
  }

  .footer__p--uppercase {
    margin-bottom: 0;
  }

  .footer__p--uppercase br {
    display: none;
  }

  .header {
    padding: 30px 25px 25px;
  }

  .nav-header-burger {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    padding: 0;
  }

  .nav-header-burger span {
    background-color: #7A18D5;
    width: 20px;
    height: 3px;
    display: block;
    font-size: 0;
    position: absolute;
    left: calc(50% - 10px);
    top: 14px;
  }

  .nav-header-burger::before,
  .nav-header-burger::after {
    -webkit-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    transition: top 0.2s ease;
    content: "";
    position: absolute;
    left: calc(50% - 10px);
    top: 6px;
    width: 20px;
    height: 3px;
    background-color: #7A18D5;
  }

  .nav-header-burger::after {
    top: 22px;
  }

  .nav-header {
    display: none;
  }

  .nav-header.open {
    display: block;
    position: absolute;
    background-color: #7A18D5;
    top: 90px;
    left: 0;
    width: 100%;
  }

  .nav-header.open .nav-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .nav-header.open .nav-header__list li + li {
    margin-left: 0;
  }

  .nav-header.open .nav-header__list li {
    padding: 25px 0 0;
  }

  .nav-header.open a {
    color: #ffffff;
  }

  .has-submenu + .nav-header__submenu-list {
    display: none;
  }

  .has-submenu.open + .nav-header__submenu-list {
    display: none;
  }

  .nav-header .has-submenu.open + .nav-header__submenu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    width: 100%;
    visibility: visible;
    opacity: 1;
    background-color: #ffffff;
    padding: 25px 0;
  }

  .nav-header .has-submenu.open + .nav-header__submenu-list li {
    padding: 10px 0 !important;
  }

  .nav-header .has-submenu.open + .nav-header__submenu-list li::after {
    display: none;
  }

  .nav-header .has-submenu.open + .nav-header__submenu-list li + li {
    margin-top: 0;
  }

  .nav-header .has-submenu.open + .nav-header__submenu-list a {
    color: #7A18D5;
  }

  .nav-header .has-submenu.open + .nav-header__submenu-list a br {
    display: none;
  }

  .nav-header .has-submenu.open + .nav-header__submenu-list li:hover a {
    color: #C1A9E0;
  }

  .nav-header .has-submenu {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
  }

  .page-title {
    margin-bottom: 50px;
  }

  .promo {
    height: initial;
    margin-bottom: 80px;
  }

  .promo__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .promo__content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    margin: 0;
  }

  .promo__image-wrap {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    margin: 0 auto 45px;
  }

  .promo__image-inner {
    margin: 0 10%;
    max-width: 400px;
  }

  .promo__title {
    margin-bottom: 20px;
  }

  .promo__button {
    width: 100%;
    text-align: center;
  }

  .promo__subtitle {
    margin-bottom: 40px;
  }

@supports (-webkit-appearance:none) {

}
}